body {
    background: rgba(0, 0, 0, 0.9);
    margin: 0;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* css pesudeo element */
.showcase::after {
    content: '';
    height: 100vh;
    width: 100%;
    background: linear-gradient(
          rgba(58, 57, 57, 0.5),
          rgba(58, 57, 57, 0.5)
      ),
    url(adult-analogue-aperture-black-and-white-403495.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    filter: blur(10px);
    -webkit-filter: blur(10px);  /* some browsers do not support for fillter property*/
    transition: all 1000ms;
}

.showcase:hover::after {
    filter: blur(0px);
    -webkit-filter: blur(0px); 
}

.showcase:hover .content {
    filter: blur(2px);
    -webkit-filter: blur(2px); 
}

.content {
  position: absolute;
  z-index: 1;
  top: 10%;
  left: 50%;
  margin-top: 55px;
  margin-left: -145px;
  width: 300px;
  height: 350px;
  text-align: center;
  transition: all 1000ms;
}

.content .logo {
  height: 150px;
  width: 120px;
}

.content .title {
  font-size: 2.2rem;
  margin-top: 1rem;
}

.content .text {
  line-height: 1.7;
  margin-top: 1rem;
}

.container {
    max-width: 960px;
    text-align: center;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.grid-3 {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}

.grid-2 {
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.center {
    text-align: center;
    margin: auto;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #f4f4f4;
}

footer {
    padding: 1.5rem;
}

footer p {
    margin: 0;
}

/* small screens */
@media(max-width:560px) {
    .showcase::after {
        height: 65vh;
    }

    .content {
        top: 3%;
        margin-top: 5px;
    }

    .content .logo {
        height: 120px;
        width: 110px;
    }

    .content .text {
        display: none;
    }

    .grid-3,  .grid-2 {
        grid-template-columns: 1fr; 
    }

    .services div {
        border-bottom: #333;
        padding: 1.2rem 1rem;
    }

    footer {
        padding: 1.2rem;
    }

}

/* landscape */
@media(max-height:500px) {
    .content .title,
    .content .text {
        display: none;
    }
    .content {
        top: 18%;
    }
}